body {
    font-family: 'Arial', sans-serif;
    background-color: #e8e7e8;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: url('back.jpeg');
    /*background-size: 100% 100%;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container {
    background-color: #ffffff;
    padding: 40px 40px 40px 40px;
    margin: 20px 20px 20px 20px;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #1e054b;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #333333;
    margin-bottom: 20px;
}

.gift-button {
    background-color: #2b053d;
    color: white;
    border: none;
    margin-bottom: 20px;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gift-button:hover {
    background-color: #75239b;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hidden {
    display: none;
}

.label.p{
    display: flex;
    top: -10px;
    right: 20px;
}

/*form p {*/
/*    font-size: 18px;*/
/*    margin-bottom: 20px;*/
/*    display: flex;*/
/*    align-items: center; !* Выравнивание элементов по центру по вертикали *!*/
/*}*/

input[type="radio"] {
    margin-right: 10px; /* Расстояние между радиокнопками и текстом */
    margin-bottom: -6px; /* Расстояние между радиокнопками и текстом */
    appearance: none;
    background-color: #ffffff;
    border: 2px solid #296262;
    color: #296262;
    padding: 12px 12px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    background-color: #296262;
    color: white;
    border-color: #296262;
}


button {
    background-color: #296262;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a4a4;
}